<div id="left-column">
	<div id="posts">
		<% @posts.each do |post| %>
			<div class="post">
				<div class="title"><%= post.title %></div>
				<div class="byline">
					<span class="author">by <%= post.author.display_name %></span>
					<span class="date">on <%= strip_zeroes_from_date(post.created_at.strftime("%B *%d, %Y")) %>(<%= use_relative_time(post.created_at) %>)</span>
				</div>
				<div class="body"><%= prepare_post_body(post.content) %></div>
				<div class="other-info">
					<span class="categories">Posted in <%= post.categories.collect {|cat| cat.name}.to_sentence %></span>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div id="right-column">

</div>