<table>
  <tr>
    <th><%= f.label(:username) %></th>
    <td><%= f.text_field(:username)%></td>
  </tr>
  <tr>
    <th><%= f.label(:hashed_password) %></th>
    <td><%= f.password_field(:hashed_password) %></td>
  </tr>
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
   <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:display_name) %></th>
    <td><%= f.text_field(:display_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:user_level) %></th>
    <td><%= f.select(:user_level, (0..9).to_a.reverse) %></td>
  </tr>
 </table>