

<table>
  <tr>
    <th><%= f.label(:title) %></th>
    <td><%= f.text_field(:title, :size => 40, :style => "font-size: 1.5em;") %></td>
    <td rowspan="2">
      <div class="categorylist">
        <h2>Categories:</h2>
          <% @all_categories.each do |cat| %>
          <li><%= check_box_tag('categories[]',cat.id,
            @post.categories.map {|c| c.id}.include?(cat.id)) 
          %><%= cat.name %></li>
          <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= f.label(:content) %></th>
    <td><%= f.text_area(:content, :cols => 70, :rows => 20, :style => "font-size: 1.1em;") %></td>
  </tr>
  <tr>
    <th><%= f.label(:author_id) %></th>
    <td><%= f.select(:author_id, @user_list) %></td>
  </tr>
  <tr>
    <th><%= f.label(:status) %></th>
    <td><%= f.select(:status, ['draft', 'published']) %></td>
  </tr>
 
</table>