<% @page_title = "Listing posts" %>
 
  <%= link_to(">>Back", {:controller => 'staff',:action => 'menu'}) %>
  
  <table>
    <tr>
      <th>Created</th>
      <th>Title</th>
      <th>Author</th>
      <th>Categories</th>
      <th>Status</th>
      <th>Comments</th>
      <th>Friends</th>
    </tr>

    <% @posts.each do |post| %>
    <tr class="<%= cycle('row1', 'row2') %>">
      <td><%= post.created_at.strftime('%m/%d/%y %I:%m %p') %></td>
      <td><%= post.title %></td>
      <td><%= (post.author.display_name) if post.author %></td>
      <td><%= post.categories.collect {|cat| cat.short_name}.join(", ") %></td>
      <td><%= post.status %></td>
      <td><%= post.comments_count %></td>
      <td>
        <%= link_to("Show", {:action => 'show', :id => post.id}, :target => '_blank') %>
        <%= link_to("Edit", {:action => 'edit', :id => post.id}) %>
        <%= link_to("Delete", {:action => 'destroy', :id => post.id}, :method => :delete, data: {:confirm => 'Are you sure?'}) %>
      </td>
    </tr>
    <% end %>
</table>

